extends layout
block content
   main
      .container
         .row
            h3 #{lang.__('order')}
         .row
            .col.s12.l12
               .card-panel
                  include partial_order_form





