extends layout
block content
    main
        .container
            .row
                h3 #{lang.__('error')}
            .row
                .col.s12.l12
                    .card-panel
                        h4.center-align Icons
                        ul
                            li
                                span Cheap :
                                a(href="https://thenounproject.com/grega.cresnar") Gregor Črešnar
                            li
                                span Award :
                                a(href="https://thenounproject.com/iconsphere") iconsphere
                            li
                                span Clock :
                                a(href="https://thenounproject.com/mooooyai") Khomsun Chaiwong