extends layout
block content
   main
      .container
         br
         br
         if(page == 'my')
            h3 My orders
         if(page == 'all')
            h3 All orders
         if(page == 'assigned')
            h3 Taken orders

         include partial_table_orders

   if(page == 'all')
      #modal_set_designer.modal.modal-sm.fade(tabindex="-1" role="dialog")
         .modal-content
            .modal-header
               button.close(type="button" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
               h6 Assign a designer to this order
            .modal-body
               .row
                  .input-field.col.s12
                     i.fa.fa-user.prefix
                     input#autocomplete_designer(type="text" class="autocomplete")
                     label(for="autocomplete_designer") Designer email
         .modal-footer
            a.modal-action.modal-close.btn.btn-flat.waves.waves-purple(onclick="assignDesigner()") OK
