body{
  width:100%;
  padding:0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper {
  padding: 0 15px;
}

.modal-content{
  background-color: #fafafa;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
}

#my_orders .collection-item.avatar{
  &:hover{
    cursor: pointer;
    background-color: #efefef;
  }

  p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

