$secondary-color : #5b32bc;

body{
  width:100%;
  padding:0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a:hover{
  text-decoration: none !important;
  color:inherit;
}

.nav-wrapper {
  padding: 0 15px;
}

.modal-content{
  background-color: #fafafa;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
}

.carousel-slider{
  height:300px !important;
}

#my_orders .collection-item.avatar{
  &:hover{
    cursor: pointer;
    background-color: #efefef;
  }

  p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.index-icon{
  padding: 50px !important;

  h4,h5,h6 {
    color:$secondary-color;
  }

  svg, path{
    max-width: 200px;
    fill: $secondary-color;
  }
}

